@charset "utf-8";
/* CSS Document */

.hidden
{
	display: none;
}

#container
{
	/*temporary width and height*/
	width: 1000px;
	height: 700px;
	margin: 0 auto;
	background: url(../assets/background2.svg);
	background-repeat: no-repeat;
	background-position: center;
}

#gameSpace
{
	
}
